strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*@tanstack/*
public-hoist-pattern[]=*@babel/runtime*
public-hoist-pattern[]=*@expo/*
public-hoist-pattern[]=*react-native-css-interop*
public-hoist-pattern[]=*expo-modules-autolinking*
public-hoist-pattern[]=*expo-modules-core*
public-hoist-pattern[]=*babel-preset-expo*
shamefully-hoist=false
